.loading{
    width:200px;
    height:200px;  

     position: relative;
  }
  
  
  .loading::before,.loading::after{
    content: '';
    position: absolute;
    width:20px;
    height: 20px;
    border-radius: 50%;
    background: #000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    animation: s 1.5s linear infinite;
  }
  .loading::after{
    animation-delay: 0.75s;
  }
  @keyframes s{
    0%{
      height: 0;
      width: 0;
      opacity: 1;
    }
    100%{
      height: 200px;
      width: 200px;
      opacity: 0;
    }
  }